apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{CRONJOB_NAME}}
spec:
  schedule: "*/5 * * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: algotrap
            image: ghcr.io/innoobwetrust/algotrap:latest
            imagePullPolicy: Always
            envFrom:
            - secretRef:
                name: {{SECRET_NAME}}
          restartPolicy: Never
