
# Symbol
SYMBOL=ETH-USDT
# SL: stoploss percentage in f64
SL_PERCENT=0.1
# TOL: ATR tolerance adjustment in f64
TOL_PERCENT=0.618
# Timeframes
TFS=1m,5m,15m,1h,4h,1d,1w,1M
DEFAULT_TF=5m

# Cloudflare Credentials
CLOUDFLARE_ACCOUNT_ID=your_cloudflare_account_id
CLOUDFLARE_API_TOKEN=your_cloudflare_api_token

# Cloudflare Pages Project Name
CLOUDFLARE_PAGES_PROJECT_NAME=your_pages_project_name

# NTFY topic
NTFY_TOPIC=your_ntfy_topic
# NTFY timeframe exclusion
NTFY_TF_EXCLUSION=1m,1d,1w,1M
# Force notification
NTFY_ALWAYS=false

# Timeouts
TIMEOUT_SECS=10
UPLOAD_TIMEOUT_SECS=5
